  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("./ny.jpeg");  
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  input {
    size: 2em
  }
  form, form > input, from > textarea{
    background-color: transparent !important;
  }
  textarea { 
    background: transparent;
  }
  nav {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
    padding: 15px 30px;
    position: fixed; /* keep menu above the background */
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
  }

  /* Style menu items */
  nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-size: 18px;
    transition: color 0.3s;
  }

  /* Hover effect for menu items */
  nav a:hover {
    color: #ffd700;
  }
  /*.white {
   background-color: #fff;
  } */